
{require_otp_vsn, "R?1(7|8)"}.

{erl_opts,
    [
      debug_info, fail_on_warning
    ] }.
    
    
{recursive_cmds, [clean, compile, xref, ct, generate, 'get-deps']}.

{lib_dirs, ["deps"]}.

{sub_dirs, [ "src"
           ] }.


{deps_dir, ["deps"]}.
{deps, [ {aleppo,               ".*", {git, "git://github.com/badmonkey/aleppo.git",            {branch, master}}}
       ] }.

