

%{escript_name, beamy}.
%{provider_hooks, [{post, [{compile, escriptize}]}]}.
%{artifacts, ["{{profile_dir}}/bin/beamy"]}.




{ yrl_opts
, [ {verbose, true}
  ]
}.


%{ escripts
%, [ { escript, beamy, [consoletools, beamtools] }
%  , { escript, baron
%    , [ {applications, [beamtools]}
%      , {filename, "baronc"}
%      , {emu_args, ""}
%      ]
%    }
%  ]
%}.



{ dialyzer
, [ {warnings, [underspecs, no_return]}
  , {get_warnings, true}
  , {plt_apps, top_level_deps}      % top_level_deps | all_deps
  , {plt_extra_apps, []}
  , {plt_location, local}           % local | "/my/file/name"
  , {plt_prefix, "rebar3"}
  , {base_plt_apps, [stdlib, kernel, crypto]}
  , {base_plt_location, global}     % global | "/my/file/name"
  , {base_plt_prefix, "rebar3"}
  ]
}.



{ relx
, [ {release, {beamy, "1.0.1"}, [beamy, beamtools]}

  , {dev_mode, true}
  , {include_erts, false}
  , {system_libs, false}
  , {include_src, false}

  , {extended_stat_script, true}
  ]
}.


